// 色指定
$main_background: #fcfaf7;
$content_background: #eaffed;
$font_color:  #030300;
$error_font_color: #ff1c1c;

//  index.scssのボタンの色(ロゴの緑色と同じ色)
$logo_green: #03cc90;
// アカウント登録・ログインのボタン
$button_back_color: #ffa500;
$button_disenable: #6e6d6d;

// confirmation.scssの3つの色
$color_one:  #e8ddc1;
$color_two:  #d0dada;
$color_three:  #b3a593;

// confirmation.scssの「新規追加」「全削除」の色
$button_border: #6e6d6d;
