@import "color.scss";
@import "size.scss";

.footer_container{
    background-color: $main_background;
    width: 100%;
    z-index: 50;
    .centering{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-height: 45px;
            width: auto;
        }
        p{
            margin: 8px 0;
        }
    }
    .footer_nav{
        margin:0 auto;
        text-align: center;
        .footer_nav_ul{
            padding: 0;
            margin: 8px 0;
            // $media_size以上の読み込み(データ横並び)
            @media screen and (min-width:$media_size_plus){
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    margin:0 50px 0 0;
                }
            }
            // $media_size以下の読み込み(データ縦並び)
            @media screen and (max-width:$media_size){
                display: block;
            }
            li{
                list-style: none;
                margin-bottom: 10px;
                font-size: 14px;
            }
        }
    }
}