// 色指定
$main_background: #fcfaf7;

.header_container{
    background-color: $main_background;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    a{
        display: block;
        h1{
            margin: 10px 0;
            img{
                max-height: 50px;
                width: auto;
            }
        }
    }
}

