$media_size: 960px;
$media_size_plus: $media_size + 1px;

@import "reuse/color.scss";

body{
    font-family: 'Kosugi Maru', sans-serif;
}


.shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.main_container{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    .action_container{
        display: flex;
        .action_button{
            border: 1px solid $button_border;
            display: block;
            text-decoration: none;
            padding: 2px;
            margin-right: 10px;
            p{
                color: $font_color;
                &::before{
                    content: attr(text);
                    padding-right: 10px;
                    color: $font_color;
                }
            }
        }
    }
}

.menu{
    max-width: 100%;
    .accordion{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $font_color;
    }
    .box{
        height: 0;
        display: flex;
        background-color:#f4f4f4;
        border-radius: 7.5px;
        overflow: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        margin-bottom: 2px;
        .box_describe{
            display: flex;
            width: 95%;
            .box_describe_data{
                width: calc(100% / 3);
                text-align: center;
            }
        }

        .box_content{
            // $media_size以上の読み込み(データ横並び)
            @media screen and (min-width:$media_size_plus){
                display: flex;
                .box_data{
                    width: calc(100% / 3);
                    p{
                        margin: 0;
                        padding: 16px 0;
                    }
                }
            }
            // $media_size以下の読み込み(データ縦並び)
            @media screen and (max-width:$media_size){
                display: block;
                .box_data{
                    width: 100%;
                    p{
                        margin: 0;
                        padding: 20px 0;
                    }
                }
            }
            width: 95%;
        }
        
        .box_button{
            width: 5%;
            margin-left: auto;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                border-radius: 50%;
                border: none;
                background: none;
                cursor: pointer;
                width: 30px;
                height: 30px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    background-color: #d9d9d9;
                }
            }
        }
    }

}

label{
    display: block;
    padding: 15px;
    line-height: 1;
    color: $font_color;
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

input{
    display: none;
}

.bg_color_one{
    background-color: $color_one;
}

.bg_color_two{
    background-color: $color_two;
}

.bg_color_three{
    background-color: $color_three;
}

#context_menu{
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    background-color:#fff;
    ul{
        padding: 0;
        li{
            cursor: pointer;
            list-style: none;
            &:hover{
                background-color: gray;
                color: $main_background;
            }
        }
    }
}
