body {
  font-family: "Kosugi Maru", sans-serif;
  margin: 0;
}

.shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.main_container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 0 3%;
}
.main_container .title_description h2 {
  text-align: center;
  font-size: 32px;
}
.main_container .title_description p {
  text-align: center;
}
.main_container .title_description .register_box {
  margin: 0 auto 10px auto;
  max-width: 250px;
  border-radius: 10px;
  border: 1px solid #03cc90;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container .title_description .register_box a {
  padding: 8px 15px;
  color: #030300;
  text-decoration: none;
  display: block;
}
.main_container .title_description .register_box:hover {
  background-color: #03cc90;
  transition: 0.5s ease;
}
.main_container .title_description .register_box:hover a {
  color: #fcfaf7;
  transition: 0.5s ease;
}
.main_container .title_description .login_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.main_container .title_description .login_box a {
  font-size: 14px;
}
.main_container .top_image {
  margin-top: 0;
}
.main_container .top_image img {
  vertical-align: middle;
  width: 100%;
  max-height: 340px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #FFF;
  box-shadow: none;
}
.main_container .how_to_use {
  margin-top: 20px;
}
.main_container .how_to_use .how_to_use_title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container .how_to_use .how_to_use_title::before, .main_container .how_to_use .how_to_use_title::after {
  border-top: 2px solid #000;
  content: "";
  width: 30px;
  margin: 0 20px;
}
.main_container .how_to_use .how_to_use_title::before {
  margin-left: 15px;
}
.main_container .how_to_use .how_to_use_title::after {
  margin-right: 15px;
}
.main_container .how_to_use .how_to_use_title h2 {
  text-align: center;
}
.main_container .how_to_use .how_to_use_content .use_content_box {
  margin-top: 20px;
}
@media screen and (min-width: 961px) {
  .main_container .how_to_use .how_to_use_content .use_content_box {
    display: flex;
    flex-wrap: wrap;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box .use_sentence {
    width: 50%;
    display: table;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box .use_sentence p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10%;
    color: #030300;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box .use_image {
    width: 50%;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box .use_image img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    border: 3px solid #FFF;
    box-shadow: 0 0 5px #999;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box:first-child {
    margin-top: 0px;
  }
}
@media screen and (max-width: 960px) {
  .main_container .how_to_use .how_to_use_content .use_content_box {
    display: block;
    text-align: center;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box .use_sentence {
    width: 100%;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box .use_sentence p {
    color: #030300;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box .use_image {
    width: 100%;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box .use_image img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    border: 3px solid #FFF;
    box-shadow: 0 0 5px #999;
  }
  .main_container .how_to_use .how_to_use_content .use_content_box:first-child {
    margin-top: 0px;
  }
}/*# sourceMappingURL=index.css.map */