@import "reuse/size.scss";
@import "reuse/color.scss";

body{
    font-family: 'Kosugi Maru', sans-serif;
    margin: 0;
}

.shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.main_container{
    max-width: $main_width;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 0 3%;
    .title_description{
        h2{
            text-align: center;
            font-size: 32px;
        }
        p{
            text-align: center;
        }
        .register_box{
            margin: 0 auto 10px auto;
            max-width: 250px;
            border-radius: 10px;
            border: 1px solid $logo_green;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                padding: 8px 15px;
                color: $font_color;
                text-decoration: none;
                display: block;
            }
            &:hover{
                background-color: $logo_green;
                transition: 0.5s ease;
                a{
                    color: $main_background;
                    transition: 0.5s ease;
                }
            }
        }
        .login_box{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                font-size: 14px;
            }
        }
    }
    .top_image{
        margin-top: $box_margin;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .how_to_use{
        margin-top: $box_margin;
        .how_to_use_title{
            display: flex;
            align-items: center;
            justify-content: center;
            &::before, &::after{
                border-top: 2px solid #000;
                content: '';
                width: 30px;
                margin: 0 20px;
            }
            &::before{
                margin-left: 15px;
            }
            &::after{
                margin-right: 15px;
            }
            h2{
                text-align: center; 
            }
        }
        .how_to_use_content{
            .use_content_box{
                @media screen and (min-width:$media_size_plus){
                    display: flex;
                    flex-wrap: wrap;
                    .use_sentence{
                        width: 50%;
                        display: table;
                        p{
                            display: table-cell;
                            vertical-align: middle;
                            padding: 0 10%;
                            color: $font_color;
                        }
                    }
                    .use_image{
                        width: 50%;
                        img{
                            max-width: 100%;
                            object-fit: contain;
                        }
                    }
                    &:first-child{
                        margin-top: 0px;
                    }
                }
                @media screen and (max-width:$media_size){
                    display: block;
                    text-align: center;
                    .use_sentence{
                        width: 100%;
                        p{
                            color: $font_color;
                        }
                    }
                    .use_image{
                        width: 100%;
                        img{
                            max-width: 100%;
                            object-fit: contain;
                        }
                    }
                    &:first-child{
                        margin-top: 0px;
                    }
                }
                margin-top: $box_margin;
            }
        }
    }
}

