// 色指定
$button_border: #6e6d6d;
$main_background: #fcfaf7;
$font_color:  #030300;
$media_size: 960px;
$media_size_plus: $media_size + 1px;

$color_one:  #e8ddc1;
$color_two:  #d0dada;
$color_three:  #b3a593;


.header_container{
    background-color: $main_background;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.main_container{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    .action_container{
        display: flex;
        .action_button{
            border: 1px solid $button_border;
            display: block;
            text-decoration: none;
            padding: 2px;
            margin-right: 10px;
        }
    }
}

.menu{
    max-width: 100%;
    position: relative;
}

.items{
    display: block;
    form{
        display: block;
        padding: auto;
        margin: auto;
        margin-top: 15%;
        .item_form{
            display: block;
            width: 70%;
            padding: auto;
            margin: auto;
            margin-top: 10%;
            border-bottom: 2px solid $button_border;
            div{
                display: flex;
                justify-content: space-between;
                margin-left: 5px;
                margin-top: 30px;
                input{
                    display: block;
                    padding: 15px;
                    border: 0px;
                }
                select{
                    display: block;
                    padding: 15px;
                    border: 0px;
                }
                .content{
                    margin-right: 5px;
                    text-align: right;
                    width: 45%;
                }
            }
        }
    }
    
}

label{
    display: block;
    padding: 15px;
    line-height: 1;
    color: $font_color;
    cursor: pointer;
}

