@import "reuse/color.scss";
@import "reuse/size.scss";

body{
    font-family: 'Kosugi Maru', sans-serif;
    margin: 0;
}

.header_container{
    background-color: $main_background;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    a{
        display: block;
        h1{
            margin: 10px 0;
            img{
                max-height: 50px;
                width: auto;
            }
        }
    }
}

.shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.main_container{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    .action_container{
        display: flex;
        .action_button{
            border: 1px solid $button_border;
            display: block;
            text-decoration: none;
            padding: 2px;
            margin-right: 10px;
        }
    }
}

.menu{
    max-width: 100%;
    position: relative;
}

.items{
    display: block;
    form{
        border: 2px solid $button_border;
        border-radius: 5vh;
        display: block;
        padding: auto;
        margin: auto;
        margin-top: 15%;
        width: 80%;
        .item_form{//div
            display: block;
            width: 90%;
            padding: auto;
            margin: auto;
            margin-top: 10%;
            border-bottom: 2px solid $button_border;
            div{
                display: flex;
                justify-content: space-between;
                margin-left: 5px;
                margin-top: 30px; 
                width: 100%;
                label{
                    width: 30%;
                }
                .content{
                    width: 45%;
                    display: block;
                    padding: 15px;
                    width: 130%;
                    text-align: center;
                    border: 2px solid $input_border;
                    border-radius: 50vh;
                    font-size: 110%;
                }
            }
            display: flex;
            .buttons{
                margin: 0 auto 10px auto;
                max-width: 250px;
                border-radius: 10px;
                border: 2px solid $logo_green;
                padding: 8px 15px;
                color: $font_color;
                background-color: $main_background;
                text-decoration: none;
                width: 200%;
                font-size: large;
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                display: block;
                &:enabled{
                    &:hover{
                        background-color: $logo_green;
                        transition: 0.5s ease;
                        a{
                            color: $main_background;
                            transition: 0.5s ease;
                        }
                    }
                }
            }
        }
    }
}




label{
    display: block;
    padding: 15px;
    line-height: 1;
    color: $font_color;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance:textfield;
}