// 色指定
$button_border: #6e6d6d;
$main_background: #fefefe;
$font_color: #252525;
$media_size: 960px;
$media_size_plus: $media_size + 1px;


.header_container{
    background-color: $main_background;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.shadow{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.main_container{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    .action_container{
        display: flex;
        .action_button{
            border: 1px solid $button_border;
            display: block;
            text-decoration: none;
            padding: 2px;
            margin-right: 10px;
        }
    }
}

.menu{
    max-width: 100%;
    position: relative;
}

.items{
    display: block;
    .item_form{
        display: block;
        width: 400px;
        padding: auto;
        margin: auto;
        border-bottom: 2px solid $button_border;
        div{
            display: flex;
            width: 100%;
            justify-content:space-between;
            margin-left: 5px;
            margin-top: 30px;
            input{
                border: 0px;
            }
            .content{
                margin-right: 5px;
                text-align: right;
            }
        }
    }
}

label{
    display: block;
    padding: 15px;
    line-height: 1;
    color: $font_color;
    cursor: pointer;
}

